<!-- Muhammad Noman - Inclass-04 - Mahmed9174@conestogac.on.ca -->

<%- include ('layouts/head') %> 
<body>
    <%- include("layouts/form.ejs") %> 
    <p class="console">Enter all information in form to get Reciept</p>
</body>
</html>